<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/jqueryui")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/fonts")
@*        @Styles.Render("~/Content/themes/base/css")*@
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @*<header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("CenterPoint Energy", "Index", "Home")</p>
                </div>
            </div>
        </header>*@
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - CenterPoint Energy</p>
                </div>
                <div class="float-right">
                    <p>Version: 1.3</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
    </body>
</html>
